@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

@media screen and (max-width: 992px){
	body{
		background-image: none !important;
		font-size: 16px !important;
	}

	#tagline{
		display: none;
	}
	.container-fluid{
		margin: 0px !important;
	}

	nav {
		text-align: left !important;
		position: relative;

	}

}

ul{
	padding: 0px;
	margin: 0px;
}

nav li{
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

nav{
	position: static;
	right: 10px;
	top: 10px;
	text-align: right;
}

body{
	background-image: url("../img/background.jpg");
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 18px;
	background-size: cover;
	background-attachment: fixed;
}

a {
	text-decoration: none !important;
	color: #0000AA;
}

a:hover{
	color: #0000EE;
}

nav a{
	text-decoration: none !important;
	color: #55E;
}

nav a:hover{
	color: #00E;
}

h1{
	font-size: 300%;
	margin: 0px;
}

h2{
	color: #505050;
	font-size: 150%;
	margin: 0px;
}

h3{
	font-size:125%;
	color: #505050;
}

.container-fluid{
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-image:url("../img/ricepaper_v3.png");
	opacity: 0.9;
}

header{
	padding: 1em;
	background-color:#FA5A0F;
	border-bottom: 5px #EA4A00;
	color: #FFFFFF;
}

header h2{
	font-size: 120%;
	color: #EEEEEE;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;
}

#location{
	padding: 1em;
}

#menu{
	padding: 1em;
	background-color:rgba(207, 205, 140, 0.5);
}

dt{
	font-weight: 400;
}

dd{
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#about{
	padding: 1em;
}

footer{
	padding: 1em;
	background-color: #FC892F;
	border-top: 5px #EC791F;
	font-size: 80%;
	text-align: right;
}




